@model CasgemUow.Entitylayer.Concrete.CustomerProcess
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <form method="post">
        <label>gönderen ıd</label>
        <input type="text" asp-for="SenderID" class="form-control"/>
        <br />
        <label>Alıcı ıd</label>
        <input type="text" asp-for="ReceiverID" class="form-control"/>
        <br />
        <label>Gönderilecek miktar</label>
        <input type="text" asp-for="Amount" class="form-control"/>
        <button class="btn btn-warning">Gönder</button>
    </form>

</div>